In [77]:
import pandas as pd
import numpy as np
from sklearn import naive_bayes

In [7]:
df = pd.read_excel('UniversalBank.xls', sheet_name='Data')

In [8]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

## A

In [40]:
another_table = df.groupby(['CreditCard', 'Personal Loan', 'Online']).agg({'ID':'count'})\
                    .rename(columns={'ID':'Customers_count'}).reset_index()\
                    .rename(columns={'Personal Loan':'PL'})
another_table

   CreditCard  PL  Online  Customers_count
0           0   0       0             1300
1           0   0       1             1893
2           0   1       0              128
3           0   1       1              209
4           1   0       0              527
5           1   0       1              800
6           1   1       0               61
7           1   1       1               82

## B

In [75]:
(another_table.query('PL==1')['Customers_count'].sum()/another_table['Customers_count'].sum())\
*(another_table.query('CreditCard == 1 and PL == 1')['Customers_count'].sum()/another_table.query('PL == 1')['Customers_count'].sum())\
*(another_table.query('Online == 1 and PL == 1')['Customers_count'].sum()/another_table.query('PL == 1')['Customers_count'].sum())\
/(another_table.query('Online==1 and CreditCard==1')['Customers_count'].sum()/another_table['Customers_count'].sum())

0.0982922335600907

## C

In [51]:
another_table_1 = df.groupby(['Personal Loan', 'Online']).agg({'ID':'count'})\
                    .rename(columns={'ID':'Customers_count'}).reset_index()\
                    .rename(columns={'Personal Loan':'PL'})
another_table_1

   PL  Online  Customers_count
0   0       0             1827
1   0       1             2693
2   1       0              189
3   1       1              291

In [53]:
another_table_2= df.groupby(['Personal Loan', 'CreditCard']).agg({'ID':'count'})\
                    .rename(columns={'ID':'Customers_count'}).reset_index()\
                    .rename(columns={'Personal Loan':'PL'})
another_table_2

   PL  CreditCard  Customers_count
0   0           0             3193
1   0           1             1327
2   1           0              337
3   1           1              143

## D

In [56]:
another_table.query('CreditCard == 1 and PL == 1')['Customers_count'].sum()/another_table.query('PL == 1')['Customers_count'].sum()

0.29791666666666666

In [62]:
another_table.query('Online == 1 and PL == 1')['Customers_count'].sum()/another_table.query('PL == 1')['Customers_count'].sum()

0.60625

In [64]:
another_table.query('PL==1')['Customers_count'].sum()/another_table['Customers_count'].sum()

0.096

In [65]:
another_table.query('CreditCard == 1 and PL == 0')['Customers_count'].sum()/another_table.query('PL == 0')['Customers_count'].sum()

0.29358407079646015

In [66]:
another_table.query('Online == 1 and PL == 0')['Customers_count'].sum()/another_table.query('PL == 0')['Customers_count'].sum()

0.5957964601769912

In [67]:
another_table.query('PL==0')['Customers_count'].sum()/another_table['Customers_count'].sum()

0.904

## E

В задании сказано использовать результаты из пункта выше, но что-то я не очень понимаю где взять последнюю часть для ответа.

In [76]:
0.096*0.29791666666666666*0.60625

0.01733875

## G

In [86]:
nb = naive_bayes.GaussianNB()
nb.fit(X=df[['Online', 'CreditCard']], y=df['Personal Loan'])
test = pd.DataFrame({'Online':[1],'CreditCard':[1]})
nb.predict_proba(test)[0][1]

0.09947361901167309